extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Información Bicicleta

  br
  br

  form()
    label(for='id') ID:
    input#id(type='text' name='id' readonly value=bici.id)
    br
    label(for='color') Color:
    input#color(type='text' name='color' readonly value=bici.color)
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo' readonly value=bici.modelo)
    br
    label(for='lat') Latitud:
    input#lat(type='text' name='lat' readonly value=bici.ubicacion[0])
    br
    label(for='lng') Longitud:
    input#lng(type='text' name='lng' readonly value=bici.ubicacion[1])
    br
    br
    button.btn(type='button')
      a(href='/bicicletas') OK